
   /* .nav-menu ul li */
 @import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
   /* .banner h6 */
  @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
    /* .banner button */
  @import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
    /* .detail h3 */
  @import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
    /* .classes-row1 p */
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');




*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.header{
    background: url(../IMAGE/adult-1850925_1920.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    display:flex;
    height: 70px;
    background: linear-gradient(90deg, rgb(150, 204, 181) 0%, rgb(57, 71, 75) 35%, rgb(76, 89, 105) 100%);

    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height:85px;
    width:150px;
    padding-left: 40px;
}
.nav-menu ul{
   list-style: none;
   display: flex;
}
.nav-menu ul li{
 font-size: 22px;
 font-family: 'Protest Riot', sans-serif;
}
.nav-menu ul li a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 20px;
}
.nav-menu ul li a:hover{
    color: rgb(128, 255, 0);
}
.nav-menu ul li a:after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: red;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease-in-out;
}
.nav-menu ul li a:hover::after{
    width: 100%;
}
.icon{
    padding-left: 50px;
}
.icon a{
    margin-right: 50px;
    color: azure;
    font-size: 25px;
    text-decoration: none;
    
}
.icon button{
    height:45px;
    width:90px;
    background-color: rgb(217, 117, 117);
    border: transparent;
    border-radius: 25px;
    font-size: 17px;
    
}
.icon button:hover{
    background-color:transparent;
    color:white;
    transition: 1s ease;
    transform: scale(1.1);
    border: 1px solid rgb(133, 248, 2);
}






.banner{
    text-align: center;
    padding-top: 220px;
    color: white;
}
.banner h6{
    /* font-family: 'Bebas Neue', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif; */
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 25px;
    font-family: 'Protest Revolution', sans-serif;
}
.banner h6 span{
       color:rgb(255, 98, 0)
}
.banner h1{
    position: absolute;
    font-size: 90px;
    left: 176px;
    color: transparent;
    -webkit-text-stroke: 1px  rgb(254, 251, 251);
     background: linear-gradient(90deg, rgb(6, 164, 243) 0%, rgb(175, 239, 25) 35%, rgb(246, 4, 4) 100%);
     -webkit-background-clip: text;
     background-repeat: no-repeat;
     background-position: -1600px 0;
     animation: back-g 3s linear infinite alternate;
     /* font-family: 'Protest Revolution', sans-serif; */
}
@keyframes back-g{
    100%{
        background-position: 0 0;
    }
}
.banner button{
    margin-top: 120px;
    height:50px;
    width: 220px;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    background-color: orangered;
    border: transparent;
    border-radius: 25px;
    font-family: 'Single Day', cursive;
}
.banner button:hover{
    /* background-color:rgb(57, 245, 245); */
    background-color: transparent;
    color: rgb(246, 250, 3);
    
    transition: 1s ease;
    transform: scale(1.1);
    border: 3px solid rgb(253, 122, 0);
    /* border-color:red; */
}

    /* section1 */
.about{
    height:700px;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(236,192,186,1) 0%, rgba(244,246,150,1) 48%, rgba(252,184,200,1) 100%); */
    background-color: rgb(10, 10, 10);
}
.contener{
    padding:0px 20px;
}
 .row{
    display:flex;
    justify-content: space-between;
} 
.detail{
    padding-top: 80px;
}
.detail h3{
    padding-left: 150px;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Protest Strike', sans-serif;
    letter-spacing: 5px;
    word-spacing: 5px;
    font-weight: 300;
    padding-bottom: 20px;
    text-decoration:underline;
}
.detail h3 span{
    color: rgb(0, 17, 255);
}
.detail p{
    padding-left: 40px;
    color: white;
    width:86%;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
}
.detail p span{
    color: rgb(58, 69, 233);
}
.detail button {
    margin-top: 25px;
    margin-left: 280px;
    height:45px;
    width:90px;
    background-color:white;
    border: transparent;
    border-radius: 25px;
    font-size: 17px;
    text-transform: capitalize;
    font-family: 'Single Day', cursive;
    font-weight: 700;
}
.detail button:hover{
    background-color: transparent;
    color:white;
    transition: 1s ease;
    transform: scale(1.1);
    border: 1px solid  rgb(58, 69, 233);
}

.image{
    margin-top: 80px;
    height: 500px;
    background-color: rgb(0, 17, 255);
}
.image img{
    border: 10px solid white;
    width:550px;
    height: 500px;
    margin-left: -8%;
    margin-top: 30px;
/* padding-right: 40px; */
    box-shadow: 0px 0px 20px black;
    /* border-radius:18px; */
}



  /* SECTION-2 */
 .classes{
    height: 900px;
    width:100%;
    background: linear-gradient(90deg, rgba(167,233,162,1) 0%, rgba(219,182,106,1) 48%, rgba(245,214,223,1) 100%);
 } 
 .classes-row1{
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    text-transform: uppercase;
}
 .classes-row1 span{
    color:rgb(149, 57, 182);
    text-transform: uppercase;
 }
 .classes-row1 p{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 150px;
    padding-left: 150px;
    font-family: 'Merriweather', serif;
    color:rgb(255, 0, 93)
}
 .classes-row2{
    display: flex;
 }


 .classes-row2 .box-card1{
    display: flex;
    height: 150px;
    width: 450px;
    background-color: whitesmoke;
    margin: 30px;
    box-shadow: 0px 0px 10px 5px grey;
    margin-left: 45px;
    filter: grayscale(1);
 }
 .classes-row2 .box-card1:hover{
    cursor: pointer;
    filter: grayscale(0);
    transform: scale(1.1);
    transition: 1s ease;
    box-shadow: 0px 0px 10px 5px rgb(248, 152, 111);
 }
 .classes-row2 .box-card1 img{
    height: 130px;
    margin-top: 10px;
    padding-left: 10px;
 }
 .classes-row2 .box-card1 h3{
    padding-top: 60px;
    padding-left: 14px;
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
 }
 /* .class-row2 .col2{
    margin-left: 50px;
 } */
 .col2 img{
    padding-top: 30px;
    border-radius: 15px;
 }
 .col2 h3{
    padding-top: 20px;
    padding-left: 15px;
    font-size: 25px;
    color: blue;
 }
 .col2 p{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .col2 button{
    margin-top: 30px;
    height: 50px;
    width: 210px;
    text-transform: uppercase;
    font-size: 18px;
    border:transparent;
    border-radius: 25px;
    background-color: rgb(118, 217, 233);
 }
 .col2 button:hover{
    background-color:transparent;
    color:rgb(241, 7, 7);
    font-weight: 600;
    transition: 1s ease;
    transform: scale(1.1);
    border: 2px solid black;
 }

   /* SECTION-3 */
   .trainners{
    height: 650px;
    width: 100%;
    background-color: black;
}
.container-train{
    padding:0% 5%;
}
.main-row-train h2{
    padding-top: 30px;
    color:white;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 4px;
    word-spacing: 15px;
    text-align: center;
    text-transform: uppercase;
}
.main-row-train h2 span{
    color: rgb(253, 9, 50);
}
.main-row-train p{
    padding-top: 10px;
    color: rgb(76, 250, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.Box{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.bx{
    height:400px;
    width:370px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 5px gray;
}
 .col1i:hover{
    cursor:pointer;
    filter:grayscale(0);
    transform:scale(1.1);
    transition: 1s ease;
    background-color: rgb(65, 230, 128);
    box-shadow: 0px 0px 10px 5px rgb(83, 192, 119);
}
.col2i:hover{
    cursor:pointer;
    filter:grayscale(0);
    transform:scale(1.1);
    transition: 1s ease;
    background-color: yellow;
    box-shadow: 0px 0px 10px 5px rgb(231, 230, 143);
}
.col3:hover{
    cursor:pointer;
    filter:grayscale(0);
    transform:scale(1.1);
    transition: 1s ease;
    background-color: blue;
    box-shadow: 0px 0px 10px 5px rgb(91, 84, 189);
} 
.image1{
    height:170px;
    width:300px;
    border-radius: 20px;
    margin: 30px 30px 10px 30px;
    filter:grayscale(1);
}
.image1:hover{
    filter:grayscale(0);
}
.Box h4{
    text-align: center;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Box h3{
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.Box p{
    color:rgb(255, 0, 242);
}
.icon-trn{
    padding-top: 20px;
    font-size: 20px;
    margin-left: 105px;
}
 /* .fa-brandsi{
    padding-left: 15px;
}     */
#brnds{
    padding-left: 15px;
    color: black; 
}









 

 .gallery{
    height: 2000px;
    width:100%;
    background-color: rgb(17, 17, 17);
    
 }
 .main-row
 {
    background:rgba(0,0,0,0.7)url(../IMAGE/dumble\ background.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120px;
 }

 .main-row h3{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
}
 .main-row h3 span{
    color: orangered;
 }
 .smlpara{
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .gal-2{
    padding:  20px 65px;
 }
 .gallery .gal-2 .pic-con{
    /* width:1200px; */
    margin: 0 auto;
    columns: 3;
    column-gap: 10px;
 }
 .gallery .gal-2 .pic-con .gpic{
    padding-bottom: 5px;
    transition: all 1.1s  ;
    cursor: pointer;
    box-shadow: 0px 4 px 6px-1px rgba(180, 173, 173, 0.5);
 }
 .gallery .gal-2 .pic-con .gpic img{
    width: 100%;
    border-radius: 12px;
   
}
.gallery .gal-2 .pic-con .gpic :hover .gpic{
   transform: scale(1.2);

}
.gal-2 button{
    margin-top: 20px;
    margin-left: 110px;
    height:60px;
   width:160px;
   font-size: 20px;
   text-transform: capitalize;
   text-decoration: underline;
   border-radius: 30px;
   border-color: transparent;
    
}
.gal-2 button:hover{
    background-color:transparent;
    color:white;
    font-weight: 600;
    transition: 1s ease;
    transform: scale(1.1);
    border: 2px solid rgb(45, 252, 3); 
}






       /* SECTION-CONTACT */
/* .contact{
    height:600px;
    width:100%;
    background: rgba(0,0,0,0.8) url(../IMAGE/girl-2607110_1280.jpg);
    background-blend-mode: darken;
   }


.contact-2{
    display: flex;
    
}
.contact-2 .map{
    
}
.contact-2 .map iframe{
    height: 350px;
    width: 350px;
    border-radius: 10px;
    margin-left: 48px;
    }
.contact-2 .form{
    width: 30%;
    margin-left: 100px;
    color:white;
}
.form label{
    font-size: 20px;
    text-transform: uppercase;
   
}
.form input {
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 10px 2px grey ;
    border: transparent;
}
.form select{
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 10px 2px grey ;
    border: transparent;
}
.form textarea{
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 10px 2px grey ;
    border: transparent;
}
.form button{
    height:40px;
    width:100px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background-color: aqua;
    border-radius: 25px;
    border-color: transparent;
}
.form button{
    margin-left: 100px;
} */



.contact{
    height:700px;
    width:100%;
    background: rgba(0,0,0,0.8) url(../IMAGE/girl-2607110_1280.jpg);
    background-blend-mode: darken;
}
.container-cont{
    padding:0% 10%;
}

.contact1{
    text-align: center;
    align-items: center;
}
.contact1 h2{
    font-size: 35px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2pt;
    padding-top: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}
.contact1 h2 span{
    color: blue;
}
.contact1 h5{
    letter-spacing: 2pt;
    font-size: 20px;
    color:orange;
    text-transform: uppercase;
}
.contact2{
    padding-top: 40px;
    padding-left: 65px;
    display: flex;
}
.contact2 .map iframe {
   border-radius: 15px;
}
.contact .form{
    padding-left: 190px;
    width: 30%;
    color:white;
}
.form label{
    font-size: 20px;
    text-transform: uppercase;
   
}
.form input {
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 6px 1px grey ;
    border: transparent;
    background: transparent;
    margin: 3px 0;
    padding: 20px 0;
    color: white;
}
.form select{
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    border-radius: 10px;
    box-shadow:0px 0px 6px 1px grey ;
    border: transparent;
    background: transparent;
}
.form textarea{
    height: 30px;
    width:300px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    box-shadow:0px 0px 6px 1px grey ;
    border: transparent;
    background: transparent;
}
.form button{
    margin-left: 100px;
    height:40px;
    width:100px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background-color:transparent;
    border-radius: 25px;
    border-color: red;
    color: white;
}
.form button:hover{
    background-color:rgb(245, 96, 96);
    color:black;
    font-weight: 550;
    transition: 1s ease;
    transform: scale(1.1);
    border: 2px dotted ;
}















 
   /* FOOTER PART */
.footer{
    height: 450px;
    width:100%;
    background:  rgba(0,0,0,0.9) url(../IMAGE/footer\ part\ img.jpg);
    background-size: cover;
    background-blend-mode: darken;
} 
.rowfooter{
   display: flex;
}
.col-0{
    padding-left: 60px;
    padding-top: 60px;
   
}
.col-0 h2{
    text-transform: uppercase;
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.col-0 img{
    height:100px;
    width:120px;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 50%;
}
.col-0 h3{
    padding-left: 60px;
    color: orange;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
#map{
    font-size: 20px;
    color: white;
}
.col-0 p{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* width:70% */
}
#globe{
    padding-top: 20px;
    font-size: 20px;
    color: white;
}
#phone{
    padding-top: 20px;
    font-size: 20px;
    color: white; 
    
}







 .col1-footer{
    width: 30%; 
    padding-top:150px ;
    padding-left: 65px;  
} 
 .col1-footer h2{
    text-transform: uppercase;
    padding-left: 40px;
    color: rgb(200, 255, 0);
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; 
} 
.col1-footer p{
    padding-top: 10px;
    color: white;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .f-2{
    /* width: 80%; */
    /* margin-left: 200px; */
    margin-top: 150px;
    margin-left: 60px;
    /* font-size: 18px; */
    text-transform: uppercase;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    
}
.f-2 .terms{
    /* width: 60%; */
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: center;
    height: 100%; */
    list-style: none;
   
}
.col-2-footer h2{
font-size: 25px;
color: rgb(200, 255, 0);
padding-bottom: 10px;
}
.col-2-footer li{
    padding-top: 10px;
    font-weight: 500;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* .f-2 .terms .col-2{
     padding: 20px 20px;

}  
.col-2  ul h2{
    text-transform: uppercase;
font-family:'Courier New', Courier, monospace;
padding-bottom: 15px;

}

.col-2 li{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   width:250px; 
   padding-bottom: 20px;
} */
.fa-brands{
    padding-left: 50px;
    color: white;
   
} 
   
